*{
  font-family: 'Times New Roman', Times, serif;
}
header{
  text-align: center;
}
.form-control{
  margin: 0 auto;
  width: 50%;
  border: solid 1px;
  border-radius: 10px;
}
.form-input{
  display: flex;
  justify-content: flex-start;
}
.choice{
  align-items: flex-end;
}
.input-label{
  font-weight: 700;
}
.custom-flex{
  display: flex;
  flex-direction: column;
  margin: 1.5rem;
}
.items{
  list-style: none;
  margin: 0;
  padding: 0;
}
.btn{
  border-radius: 10px;
  background-color: white;
  width: 64px;
}

.tbl{
  width: 50%;
  border-color: black;
  border-collapse: collapse;
  margin: 0 auto;
}

.tbl thead{
  background-color: gray;
  border-color: white;
}

.tbl tbody{
  background-color: orangered;
  border-color: white;
}

.listCards{
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 5px;
}

.card{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width:100%;
  border-radius: 4px;
  border: solid 1px black;
}

.card img{
  width: 100%;
  max-height: 10rem;
  object-fit: cover;
}

.card .bold{
  font-weight: 700;
}