header{
  text-align: center;
}
.form-control{
  margin: 0 auto;
  width: 50%;
  border: solid 1px;
  border-radius: 10px;
}
.form-input{
  display: flex;
  justify-content: start;
}
.choice{
  align-items: flex-end;
}
.input-label{
  font-weight: 700;
}
.custom-flex{
  display: flex;
  flex-direction: column;
  margin: 1.5rem;
}
.items{
  list-style: none;
  margin: 0;
  padding: 0;
}
.btn{
  border-radius: 10px;
  background-color: white;
  width: 64px;
}
